body {
  background: #101419;
  color: white;
  font-family: sans-serif;
}
a, a:visited {
  color: white;
  font-size: 1.6em;
}
a.small, a.small:visited {
  font-size: 1em;
}
.number {
  font-weight: bold;
  color: #8f8fd7;
}
.coordinates {
  font-style: italic;
  color: #8fef62;
}
input {
  border: 2px solid white;
  border-radius: 1px;
  padding: 4px;
  margin: 1px;
  margin-bottom: 4px;
}